@charset "utf-8"




body{
    background-color: f8f8f8;
    font-family: ;
    margin: 0;
    padding: 0;

    .container {
        width: 680px;
        background-color: #fff;
        margin: 40px auto;
        border-radius: 8px;
}

header{
    padding: 1.5em 1em;
}

header h1 {
    font-size: 1.5em;
    padding: 1em;
    margin: 0%;
    
}
nav {
    background-color: #efefef;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align:center;
}

nav.gnav-list li { 
    text-decoration: none;
    color: #333;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 0/0.5em;
}

ul.gnav-list li a {
    display: block;
    text-decoration: none;
    color: #888;
    padding: 0.5em 1em;
}

ul.gnav-list li a:hover {
    background-color: #ccc;
    color: #000;

}

n.gnav-list li a::first-line {
    font-weight: 700;
}

main {
    padding: 2em 2em 0  2em;
}

.about div {
    margin: 40px;
}
.about img {
    float: left;
    width: 300px;
    margin-right: 1.5em;
    margin-bottom: 1.5em; 
    display: block;
}

.about p {
    margin: 0;
    line-height: 1.5;
}

.guide {
    margin-bottom: 40px;

    
}

.guide list {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.guide-list:last-child {
    border-bottom: none;
}
footer {
    text-align: center;
    padding: 1em 0;
}
footer small {
    font: size 0.75em;
    color: #888;
}




/* モバイルのスタイル */
@media screen and  (max: width 700px;{
.container {
    width: 340px;
}
  /* ナビゲーション：li要素 */
.gnav-list li {
    float: none;
    max-width: 100%;
}
 /* ガイドセクション:h3要素 */
.guide-text h3 {
    font-size: 1.1em;
    margin: 0 0 0.5em;
}

}