@charset 'UTF-8';

/* 全体 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    background-color: #f8f8f8;
}

.container {
    width: 680px;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 8px;
}



/* ヘッダー */
header {}

h1 {
    font-size: 1.5em;
    padding: 1em;
    margin: 0;
}



/* ナビゲーション */
nav {
    background-color: #efefef;
}

.gnav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.gnav-list li {
    display: inline-block;
    font-size: 0.8em;
    margin: 0 0.5em;
}

.gnav-list li a {
    display: block;
    text-decoration: none;
    color: #888;
    padding: 0.5em 1em;
}

.gnav-list li a:hover {
    background-color: #ccc;
    color: #000;
}

.gnav-list li a span {
    display: block;
    font-weight: 700;
}



/* メインブロック */
main {
    padding: 2em 2em 0;
}



/* サイト紹介ブロック */
.about {
    margin-bottom: 40px;
}

.about img {
    float: left;
    width: 300px;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.about p {
    margin: 0;
    line-height: 1.5;
}



/* ガイドセクション（大枠） */
.guide {
    margin-bottom: 40px;
}

.guide h2 {}

.guide-list {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.guide-list:last-of-type {
    border-bottom: none;
}



/* ガイドセクション（サブセクション部分） */
.guide-list a {
    display: flex;
    justify-content: space-between;
    color: #000;
    text-decoration: none;
    transition: .3s;
}

.guide-list a:hover {
    opacity: .7;
}

.guide-icon {
    flex-basis: 25%;
}

.guide-icon img{
    width: 100%;
}

.guide-text{
    flex-basis: 70%;
}

.guide-text p{
    margin: 0;
}


/* フッター */
footer{
    text-align: center;
    padding: 1em 0;
}

footer small{
    font-size: .75em;
    color: #888;
}



/* -------------------------------------
            モバイルのスタイル
------------------------------------- */

@media screen and (max-width:700px){

.container{
    width: 340px;
}

/* ヘッダー */
h1{
    font-size: 1.1em;
}

/* ナビゲーション */
.gnav-list li {
    margin: 0;
}


/* サイトの紹介ブロック */
.about img {
    float: none;
    width: 100%;
}

/* ガイドセクション */
.guide-text h3{
    font-size: 1.1em;
    margin: 0 0 .5em;

}

}